<div class="w-full p-8 bg-white shadow-lg overflow-auto">
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-xl font-semibold text-gray-800 text-center">Edit Information</h2>
    <button
      class=" text-gray-500 hover:text-red-600 text-3xl ml-auto"
      (click)="close()"
      aria-label="Close"
    >
      &times;
    </button>
  </div>

  <app-dynamic-form
      class="w-full"
      [fields]="fields"
      [uploadFile]="uploadFile"
      [edit]="true"
      (formSubmitted)="handleSubmit($event)"
    ></app-dynamic-form>
</div>
