<div class="min-h-[4.0rem]">
  <ng-container *ngIf="!showSummaryErrors(); else errorMsg">
    <p class="text-sm text-gray-600 leading-relaxed tracking-wide">
      Please enter the required information to process your request. Fields
      marked with <span class="text-red-500 font-bold">*</span> are mandatory.
    </p>
  </ng-container>
  <ng-template #errorMsg>
    <div
      class="bg-red-100 text-red-700 p-2 rounded mb-2 border border-red-300 text-sm"
    >
      <ul class="list-none pl-4">
        <li *ngIf="form.get('email')?.invalid" class="flex items-start gap-2">
          <i class="fas fa-exclamation-triangle text-yellow-500 mt-1"></i>
          {{ getEmailErrorMessage() }}
        </li>

        <li
          *ngIf="form.get('password')?.invalid"
          class="flex items-start gap-2"
        >
          <i class="fas fa-exclamation-triangle text-yellow-500 mt-1"></i>
          {{ getPasswordErrorMessage() }}
        </li>
      </ul>
    </div>
  </ng-template>
</div>
<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="space-y-2"
  autocomplete="off"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <label
        for="firstName"
        class="flex-1 text-sm font-medium text-gray-700 mb-0.5"
        >First Name</label
      >
      <input
        formControlName="firstName"
        id="firstName"
        type="text"
        class="form-input mb-[1.25rem]"
      />
    </div>
    <div>
      <label
        for="lastName"
        class="flex-1 text-sm font-medium text-gray-700 mb-0.5"
        >Last Name</label
      >
      <input
        formControlName="lastName"
        id="lastName"
        type="text"
        class="form-input mb-[1.25rem]"
      />
    </div>
    <div>
      <label for="email" class="text-sm font-medium text-gray-700 mb-0.5">
        Email <span class="text-red-500 font-bold">*</span>
      </label>
      <input
        formControlName="email"
        id="email"
        type="email"
        class="form-input"
        name="email"
        autocomplete="off"
      />
      <div class="text-red-500 text-sm min-h-[1.25rem]">
        <p
          *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
          class="text-red-500 text-sm"
        >
          {{ getEmailErrorMessage() }}
        </p>
      </div>
    </div>
    <div>
      <label for="subscription" class="text-sm font-medium text-gray-700 mb-0.5"
        >Subscription</label
      >
      <select
        formControlName="subscription"
        id="subscription"
        class="form-input mb-[1.25rem]"
      >
        <option
          *ngFor="let option of subscriptionOptions"
          [value]="option.value"
        >
          {{ option.label }}
        </option>
      </select>
    </div>

    <div>
      <label for="password" class="text-sm font-medium text-gray-700 mb-0.5">
        Password <span class="text-red-500 font-bold">*</span>
      </label>
      <div class="relative">
        <input
          formControlName="password"
          id="password"
          [type]="showPassword() ? 'text' : 'password'"
          class="form-input pr-10 w-full"
          name="password-input"
          autocomplete="new-password"
        />
        <button
          type="button"
          (click)="togglePassword()"
          class="absolute inset-y-0 right-2 flex items-center text-gray-600"
          tabindex="-1"
        >
          <i
            class="fas"
            [ngClass]="showPassword() ? 'fa-eye' : 'fa-eye-slash'"
          ></i>
        </button>
      </div>
      <div class="text-red-500 text-sm min-h-[2.50rem]">
        <p
          *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
          class="text-red-500 text-sm"
        >
          {{ getPasswordErrorMessage() }}
        </p>
      </div>
    </div>

    <div>
      <label
        for="fileInput"
        class="text-sm font-medium text-gray-700 mb-1 block"
        >Upload CSV</label
      >

      <input
        type="file"
        id="fileInput"
        (change)="onFileChange($event)"
        accept=".csv"
        class="hidden"
      />
      <div class="flex flex-col items-center gap-1">
        <label
          for="fileInput"
          class="inline-flex items-center gap-2 cursor-pointer bg-blue-600 text-white px-4 py-1 rounded hover:bg-blue-700 transition hover:scale-105"
        >
          <i class="fas fa-upload text-white"></i>
          {{ fileName() ? 'Change File' : 'Select File' }}
        </label>
        <p class="text-sm text-gray-600">
          {{ fileName() || 'No file selected' }}
        </p>
      </div>
    </div>
  </div>

  <div class="flex justify-center pt-4">
    <button
      type="submit"
      class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-1.5 rounded-md transition transform hover:scale-105 mx-3"
    >
      Submit
    </button>
    <button
      type="button"
      (click)="onClear()"
      class="bg-pink-500 hover:bg-pink-600 text-white px-4 py-1.5 rounded-md transition hover:scale-105 mx-3"
    >
      Clear
    </button>
  </div>
</form>
